/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --font: "Roboto, system-ui, -apple-system, BlinkMacSystemFont, " Segoe UI ", Ubuntu, " Helvetica Neue ", sans-serif";

  --color-01: #ffffff;
  --color-02: #e9ebee;
  --color-03: #a4b0be;
  --color-04: #6b7c8e;
  --color-05: #343a40;
  --color-06: #000000;
  --color-07: #f6e58d;
  --color-08: #efd81d;
  /*amarillo de javascript*/
  --color-09: #cf649a;
  /*rosa de sass*/
  --color-10: #ff3e00;
  /*naranja de svelte*/
  --color-11: #dc3545;
  /*danger de bootstrap*/
  --color-12: #c3002f;
  /*rojo de angular*/
  --color-13: #a5d8ff;
  --color-14: #61dafb;
  /*azul de react*/
  --color-15: #7bed9f;
  --color-16: #42b983;
  /*verde de vue*/
  --color-17: #128c7e;
  /*verde de whatsapp*/
  --color-18: #7e12f9;
  /*violeta de bootstrap*/
  --color-19: #2496ed;
  /*azul de docker*/
  --color-20: #1877f2;
  --color-21: #003f8c;
  --color-22: #022144;
  --color-23: #2b3a42;
  /*azul negro de webpack*/
  --color-24: #273443;
  /*azul negro de react*/
  --color-25: #282c34;
}

/* RESET */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

/* clases */
.category-btn:hover {
  background-color: #fc1503 !important;
  color: white !important;
}

.category-btn:hover span {
  color: white !important;
}

.react-player {
  height: 77vh !important;
  width: 100% !important;
}

.search-bar {
  border: none;
  outline: none;
  width: 350px;
}

.category-btn {
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;

  padding: 7px 15px;
  margin: 10px 0px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 900px) {
  .category-btn {
    margin: 10px;
  }
}

@media screen and (max-width: 800px) {
  .copyright {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
  .scroll-horizontal {
    overflow: auto !important;
  }

  .react-player {
    height: 45vh !important;
  }

  .search-bar {
    width: 200px;
  }
}